#installation.shim {
  margin-top: 10px;
}

#installer {
  margin: 50px auto;
  padding: 20px 20px 50px;
  width: 600px;
  font-size: 105%;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #121010, inset 0 0 0 1px #212020, inset 0 0 1px 1px #565050;
  background: #212020;
  background: repeating-linear-gradient(to bottom, #212020, #121010 2px);
  will-change: transform;
}

#installer.addadmin {
  padding: 20px 30px;
}

#installer label span {
  padding: 3px 8px;
  min-width: 140px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  text-align: right;
  background: linear-gradient(to bottom, #454040, #343030);
  border-radius: 15px 3px 3px 15px;
}

#installer hr {
  display: block !important;
  background: linear-gradient(to right, #212020, #343030, #212020);
}

#installer input[type="submit"], .button {
  margin-top: 4px;
  display: inline-block;
  position: relative;
  z-index: 10;
  text-transform: capitalize;
  will-change: transform;
}

#installer input[type="password"] {
  padding: 4px 6px !important;
  background-image: none !important;
}

#installer input[type="text"], #installer input[type="password"] {
  width: 410px !important;
  max-width: 410px !important;
}

.installfail {
  margin: 5% auto 0;
  padding: 40px 20px;
  width: 600px;
  line-height: 1.8;
  font-weight: 700;
  border: 1px solid #454040;
  box-shadow: inset 0 0 0 1px #232020, inset 0 0 1px 1px #900;
  background: linear-gradient(to bottom, #232020, #131010);
}

.step {
  margin: -19px 0 20px;
  padding: 8px 0;
  font-weight: 700;
  border: 1px solid #454040;
  border-top: none;
  background: linear-gradient(to bottom, #454040, #343030);
}

#dostuff {
  margin: 20px -18px -48px;
  padding: 18px 12px !important;
  text-align: right;
  font-size: 110%;
  font-weight: 600 !important;
  border-top: 1px solid #454040;
  background: linear-gradient(to bottom, #343131, #232020) !important;
}

@media screen and (max-width: 1200px) {
  #installation.shim {
    margin-top: 6px;
    height: 10px;
  }
}
