/* http://torrfreedom.i2p theme by dr|z3d */

html {
  scrollbar-color: #454343 #232020;
}

body, html {
  min-height: 100% !important;
  background: #232020;
  background: #151414 !important;
}

body {
  margin: 0 0 5px;
  padding: 0 8px 28px;
  position: relative;
  min-width: 900px;
  color: #bbb;
  opacity: 1 !important;
  overflow-x: hidden;
}

body, input, select, textarea, button {
  font-family: Open Sans, Droid Sans, Noto Sans, Segoe UI, sans serif !important;
  font-size: 10pt !important;
  vertical-align: middle;
}

*:focus {
  outline: none !important;
}

::-moz-selection, ::selection {
  color: #fff;
  background: #563232;
}

code {
  margin-left: 2px;
  font-family: Noto Sans Mono, DejaVu Sans Mono, Consolas, monospace;
  color: #393;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}

code::-moz-selection, code::selection {
  background: #393;
  color: #fff;
}

input[type="submit"], input[type="reset"], input[type="radio"], input[type="file"], input[type="checkbox"], select, label {
  cursor: pointer;
}

#sitename a {
  line-height: 1;
  word-spacing: -0.05em;
  letter-spacing: 0.1em;
  font-weight: 900 !important;
  font-size: 44pt !important;
  color: #f2f2f2 !important;
  text-align: center !important;
  text-transform: uppercase;
  text-shadow: 0 0 1px #000;
  user-select: none;
}

#sitename {
  text-align: center;
}

#sitename a:hover, #sitename a:focus, #sitename a:active {
  text-decoration: none !important;
}

@supports (-webkit-background-clip: text) {
  .title table td:nth-child(2), #sitename a {
    text-shadow: none;
    background: linear-gradient(to bottom, #210, #310 15%, #fff 50%, #310 80%) !important;
    background: repeating-linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .5) 2px), linear-gradient(to bottom, rgba(255, 96, 0, .5), rgba(0, 0, 0, .6) 100%), linear-gradient(to bottom, #740, #520 10%, #fff 35%, #310 65%) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent !important;
    filter: drop-shadow(0 0 1px #300) drop-shadow(0 0 2px #200) drop-shadow(0 0 3px rgba(0, 0, 0, .1));
  }
}

.main, form {
  text-align: center;
}

table {
  margin: auto;
  width: 100%;
  border-collapse: collapse !important;
}

a:visited {
  color: #686;
  color: #a61;
}

a:link {
  color: #494;
  color: #c83;
  text-shadow: 0 1px 1px #222;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #3b3;
  color: #f60;
  text-decoration: underline;
}

a:active {
  color: #3f3;
  color: #d30;
}

a.biglink {
  text-decoration: none;
}

td a img {
  opacity: .7;
}

td a:hover img, td a:focus img {
  opacity: 1;
}

a, b, label {
  font-weight: 600 !important;
}

.borderTable tr:last-child td {
  text-align: center;
  border-bottom: 1px solid #222;
}

ul {
  list-style: none;
}

#uploader {
  margin-top: 8px;
  border: 1px solid #222;
}

#details tr:not(#dostuff):nth-child(odd) td, #dologin tr:not(#dostuff):nth-child(odd) td, #signup tr:not(#dostuff):nth-child(odd) td, #myaccount tr:not(#dostuff):nth-child(odd) td, #torrents tr:not(#dostuff):nth-child(odd), #uploader tr:not(#dostuff):nth-child(odd), #torrentedit tr:not(#dostuff):nth-child(odd), #details #filelist tr:nth-child(odd) td, #comments tr:nth-child(odd) {
  background: #454242 !important;
}

#details tr:nth-child(even) td, #dologin tr:not(#dostuff):nth-child(even) td, #signup tr:not(#dostuff):nth-child(even) td, #myaccount tr:not(#dostuff):nth-child(even) td, #torrents tr:not(#dostuff):nth-child(even), #uploader tr:not(#dostuff):nth-child(even), #torrentedit tr:not(#dostuff):nth-child(even), #details #filelist tr:nth-child(odd) td, #comments tr:nth-child(even) {
  background: #343131 !important;
}

th, #dostuff td {
  padding: 8px !important;
  font-size: 110%;
  font-weight: 600 !important;
  background: linear-gradient(to bottom, #343131, #232020) !important;
}

#torrents {
  margin-top: -2px;
  border: 1px solid #111 !important;
}

#torrents th, #torrents td {
  padding: 4px 12px;
}

#torrents th {
  font-size: 90% !important;
  text-align: center !important;
}

#torrents th:nth-child(2), #torrents td:nth-child(2) {
  text-align: left;
}

#torrents th:nth-child(n+3), #torrents td:nth-child(n+3) {
  text-align: center;
}

#torrents td:first-child::before {
  content: "";
  display: inline-block;
  height: 36px;
  vertical-align: middle;
}

#torrents img {
  vertical-align: middle;
}

#torrents th:nth-child(2) {
  text-align: left !important;
}

#torrents td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

#torrents th:first-child, #torrents td:first-child {
  position: relative;
}

#torrents td:first-child {
  vertical-align: middle !important;
}

#torrents td:first-child a {
  font-weight: 700 !important;
}

#torrents td:nth-child(2), #torrents td:nth-child(2) a {
  line-height: 1.05;
}

#torrents td:nth-child(even) {
  background: rgba(255, 255, 255, .01) !important;
}

#torrents tr:nth-child(n+2):hover td {
  background: #2a2525 !important;
}

#torrents td:nth-child(3), #torrents td:nth-child(7) {
  white-space: nowrap;
}

#torrents td:nth-child(7) {
  word-spacing: -0.1em;
}

#torrents .dlicons img {
  margin: 0 2px;
}

input[type="submit"], input[type="reset"], input[type="file"], input[type="text"], textarea, input[type="password"], select, button {
  margin: 0 6px;
  padding: 3px 8px;
  border: none !important;
  box-shadow: 0 0 0 1px #121010;
  border-radius: 2px !important;
  background: #343232;
  color: #eee;
  outline: none;
}

select {
  padding-right: 22px;
  min-width: 100px;
  font-weight: 600 !important;
  color: #9a9898;
  text-shadow: 0 1px 1px #111;
  background: url(../pic/down.png) right 8px center no-repeat, linear-gradient(to bottom, #343232, #232121) #343232;
  background-size: 8px auto;
  background-blend-mode: overlay, normal;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="submit"]::-moz-focus-inner, input[type="file"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
  border: none;
  outline: none;
}

input[type="submit"], input[type="file"], input[type="reset"] {
  padding: 3px 12px;
  min-width: 80px;
  font-weight: 700;
  color: #9a9898;
  text-shadow: 0 1px 1px #111;
  background: linear-gradient(to bottom, #343232, #232121);
}

input[type="submit"]:hover, input[type="file"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="file"]:focus, input[type="reset"]:focus {
  color: #cdcbcb;
  background: linear-gradient(to bottom, #232121, #343232);
}

input[type="submit"]:focus, input[type="reset"]:focus, input[type="text"]:focus, input[type="password"]:focus {
  box-shadow: 0 0 0 1px #121010, 0 0 0 2px rgba(255, 96, 0, .3);
  color: #eee;
}

input[type="submit"]:active, input[type="reset"]:active, select:active, select:focus {
  box-shadow: 0 0 0 1px #121010, inset 0 0 0 1px #343232, inset 2px 2px 2px #111;
}

select:hover, select:focus {
  color: #eee;
  box-shadow: 0 0 0 1px #121010, inset 0 0 0 1px #343232, inset 2px 2px 2px #111, 0 0 0 2px rgba(255, 96, 0, .3) !important;
  background-blend-mode: normal;
}

input[type="text"], input[type="password"] {
  padding: 4px 6px;
  max-width: 220px;
  border-radius: 3px !important;
  box-shadow: inset 1px 1px 1px #222, 0 0 0 1px #121010;
}

textarea {
  padding: 4px 6px;
  border-radius: 3px !important;
  box-shadow: inset 1px 1px 1px #222, 0 0 0 1px #121010;
}

@supports (background-blend-mode: luminosity) {
  /* exclude ms browsers */
  input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked, input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    position: relative;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    outline: none;
    vertical-align: middle !important;
    box-sizing: border-box;
    border: 1px solid #343232 !important;
    background: #232121;
    background: linear-gradient(to bottom, #343232, #232121);
    -moz-appearance: none;
    -webkit-appearance: inherit;
    will-change: transform;
  }
  input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    border-radius: 2px;
    box-shadow: inset 3px 3px 3px 1px #111;
  }
  input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    border-radius: 50%;
    box-shadow: inset 3px 3px 3px 1px #111;
  }
  input[type="checkbox"]:checked::before, input[type="radio"]:checked::before, input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    position: absolute;
    transition: linear all 0.05s;
    transform: scale(1);
  }
  input[type="checkbox"]:checked::before, input[type="checkbox"]:not(:checked)::before {
    content: "";
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 1px;
    background: #565454;
  }
  input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #5a5;
  }
  input[type="checkbox"]:checked:hover::before {
    color: #676565;
  }
  input[type="radio"]:checked:hover::before {
    background: #6b6;
  }
  input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    transform: scale(0);
    color: transparent;
    background: transparent;
  }
  input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    background: #282727;
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #676565 !important;
    box-shadow: 0 0 1px #f60 !important;
  }
  input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover, input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
    border: 1px solid #111 !important;
    box-shadow: none !important;
    opacity: 0.5 !important;
    background: #000;
    filter: none !important;
  }
}

/* end custom radios/checkboxes */

hr {
  color: transparent;
  border: none;
  background: #333;
  height: 1px;
  display: none;
}

form[action="takesignup.php"] .table1, .table1[width="35%"] {
  margin: 0 auto 10px !important;
}

form[action="takesignup.php"] .table1 td {
  padding: 10px !important;
}

form[action="takesignup.php"] .table1 .table1 tr:last-child td {
  padding: 20px 0 0 !important;
}

hr.separator {
  margin: 10px 10%;
  display: block;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #343232, rgba(0, 0, 0, 0));
}

.catlink:hover:after {
  padding: 2px 8px;
  min-width: 76px;
  display: inline;
  position: absolute;
  top: -10px;
  left: -15px;
  z-index: 20;
  white-space: nowrap;
  font-weight: normal !important;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #232121;
  background: #565454;
  content: attr(data-tooltip);
}

#topnav {
  padding-bottom: 6px;
  margin: 0 -10% 10px;
  color: transparent;
  filter: drop-shadow(0 0 1px #181717);
  border-bottom: 1px solid #343232;
}

#topnav a, .username, #addcomment a {
  margin: 8px -6px;
  padding: 3px 24px 5px;
  display: inline-block;
  line-height: 1;
  box-shadow: inset 0 0 0 1px #454040, 0 0 0 1px #121010;
  background: linear-gradient(to bottom, #454040, #232020);
  font-size: 105% !important;
  color: #9a9090;
  text-decoration: none !important;
}

#topnav a:first-child {
  border-radius: 2px 0 0 2px;
}

#topnav a:last-child {
  border-radius: 0 2px 2px 0;
}

#topnav a:hover, #topnav a:focus, #addcomment a:hover, #addcomment a:focus, #pager a:hover, #pager a:focus {
  color: #f60;
}

#topnav a:active, #addcomment a:active {
  box-shadow: 0 0 0 1px #121010, inset 0 0 0 1px #565050, inset 2px 2px 2px #121010;
}

#footer {
  margin: 8px -10% 0 !important;
  padding: 0 !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: 600;
}

#footer, #footer a {
  text-align: center;
  font-size: 9pt !important;
}

#blurb {
  margin-top: -1px !important;
  padding: 4px 7px 7px;
  width: 100%;
  display: inline-block;
  line-height: 1;
  color: #9a9090;
  border-top: 1px solid #343232;
  background: #121010;
}

#installer {
  margin: 50px auto;
  padding: 20px 20px 40px;
  width: 30%;
  min-width: 400px;
  max-width: 500px;
  border: 1px solid #121010;
  background: #212020;
}

#installer label span {
  margin-right: 10px;
  min-width: 140px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  text-align: right;
}

#installer hr {
  display: block !important;
  background: linear-gradient(to right, #121010, #232020);
}

#installer input[type="submit"] {
  float: right;
  text-transform: capitalize;
}

#addcomment, .note, #upload.note, #success, #warn {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 110%;
  font-weight: 700 !important;
  border: 1px solid #111;
  background: #343232;
  background: linear-gradient(to bottom, #343232, #232020);
}

#details, #addcomment, #uploader, .note, #upload.note, #success, #myaccount, #dologin, #signup, #warn, #help {
  margin: 0 auto 10px !important;
  width: 800px !important;
  box-sizing: border-box;
  border: 1px solid #111 !important;
}

#dologin, #signup, #warn.cookies {
  width: 600px !important;
}

#details, #details+#addcomment, #torrentedit, #comments, #comments+#pager, #pager+#addcomment, #return.note, #return.note+#addcomment, #needlogin {
  width: 900px !important;
  border: 1px solid #111;
}

#return.note {
  margin-top: 30px !important;
}

#addcomment {
  margin-top: -11px !important;
  padding: 10px;
}

#pager+#addcomment, #details+#needlogin, #return+#needlogin {
  margin-top: -1px !important;
  display: none; // no need for dupe, displayed below torrent details
}

#details {
  margin-top: 30px !important;
}

#details th, #dologin th, #signup th, #myaccount th, #torrents th, #torrentedit th {
  padding: 8px 14px !important;
  font-size: 110% !important;
  font-weight: 600 !important;
  text-align: left;
  border-top: none !important;
  border-bottom: 1px solid #111 !important;
}

#comments th {
  font-size: 100% !important;
  padding: 4px 8px !important;
  border-bottom: 1px solid #111;
}

#comments tr:nth-child(n+2) th {
  border-top: 1px solid #111;
}

#comments th:first-child {
  text-align: left;
}

#comments th:last-child {
  text-align: right;
}

#comments td {
  padding: 10px !important;
  vertical-align: middle;
  text-align: justify;
}

th a {
  float: right;
}

#details tr:first-child th::before {
  display: inline;
  vertical-align: text-bottom;
  font-weight: 700 !important;
  content: "Torrent: ";
}

#details td {
  vertical-align: text-top;
}

#details td:first-child, #uploader td:first-child, #myaccount td:first-child {
  padding: 6px;
  white-space: nowrap;
  text-align: right;
}

#details #filelist {
  border: 3px solid #333 !important;
  border-right: none;
}

#details #filelist td:first-child {
  text-align: left !important;
}

#details #filelist td:last-child {
  padding-right: 8px;
  text-align: right !important;
}

#nocomments {
  display: none;
}

/* uploader */

#details td:last-child, #uploader td:last-child, #dologin td:last-child, #signup td:last-child, #myaccount td:last-child {
  text-align: left;
}

#uploader td, #dologin td, #signup td, #myaccount td {
  padding: 9px;
}

#uploader input, #uploader input[type="text"], #uploader input[type="file"], #uploader textarea, #myaccount input[type="text"], #myaccount input[type="password"], #torrentedit textarea, #torrentedit input[type="text"], #dologin input[type="text"], #dologin input[type="password"], #signup input[type="text"], #signup input[type="password"] {
  width: calc(100% - 6px);
  max-width: calc(100% - 6px);
  box-sizing: border-box;
}

#uploader input[type="submit"] {
  margin-right: 3px;
  width: auto;
  float: right;
}

#uploader textarea {
  resize: vertical;
  height: 120px;
  min-height: 120px;
}

#upload.note, #warn {
  box-shadow: inset 0 0 0 1px #232020, inset 0 0 1px 1px #900;
}

#success {
  box-shadow: inset 0 0 0 1px #232020, inset 0 0 1px 1px #090;
}

#warn, #torrentedit {
  margin-top: 30px !important;
}

#siteinfo {
  text-align: center;
}

#dologin, #signup {
  margin-top: 20px !important;
}

#dologin td:first-child, #signup td:first-child, #torrentedit td:first-child {
  white-space: nowrap;
  text-align: right;
  font-weight: 700;
}

#torrentedit td {
  padding: 8px 10px;
}

#torrentedit td:first-child {
  text-align: right;
}

#torrentedit td:last-child {
  text-align: left;
}

#torrentedit p {
  margin-right: 10px;
  text-align: justify;
}

#pagenow, #pager, #pager a {
  font-size: 105% !important;
}

#pager {
  margin: -1px auto 0 !important;
  padding: 8px 14px !important;
  text-align: center;
  font-weight: 600 !important;
  border: 1px solid #111;
  background: linear-gradient(to bottom, #343131, #232020);
  box-sizing: border-box;
}

#pagenow, .pagelinks {
  padding: 2px 10px;
  display: inline-block;
  border: 1px solid #181616 !important;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px #565050;
  background: #454040;
  background: linear-gradient(to bottom, #454040, #343030);
}

#dostuff td {
  padding: 12px !important;
  text-align: center !important;
  border-top: 1px solid #111 !important;
  background: linear-gradient(to bottom, #343131, #232020) !important;
}

#sitename {
  margin-top: 8px;
}

#searchandshow {
  margin: 0 -5% -10px;
  background: #212020;
  background: linear-gradient(to bottom, #212020, #181817);
}

#search, #torrentshow {
  font-weight: 600;
}

#search {
  margin-top: -11px;
  padding-top: 15px;
}

#torrentshow {
  margin: 15px 0 20px !important;
  padding-bottom: 11px;
  border-bottom: 1px solid #343232;
}

#details #peerinfo tr:first-child th::before {
  display: none !important;
}

#peerinfom, #details #filelist {
  margin: 5px auto 5px;
  width: calc(100% - 8px);
  border: 1px solid #111;
}

#details #peerinfo th, #peerinfo td {
  text-align: center !important;
}

#peerinfo th {
  padding: 3px 8px !important;
  line-height: 1.1;
  font-size: 85% !important;
}

#peerinfo td {
  padding: 3px 8px !important;
}

#help {
  margin: 30px auto !important;
  padding: 15px 30px;
  width: 660px !important;
  line-height: 160%;
  text-align: justify;
  font-size: 105%;
  border: none !important;
  border-radius: 4px;
  background: rgba(48, 40, 40, .3);
}

#help h3 {
  margin-bottom: 10px;
  padding-bottom: 8px;
  border-bottom: 2px solid #777;
}

#header {
  margin: -12px -10% 0;
  padding-top: 8px;
  background: linear-gradient(to bottom, #232020, #121010);
  position: sticky;
  top: -10px;
  z-index: 999;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, .4));
}

#howtoupload {
  margin-left: -15px;
}

#howtoupload li {
  margin-bottom: 8px;
}

.yes, .no, .edit {
  font-size: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../pic/yes.png) no-repeat;
  background-size: 16px 16px !important;
  vertical-align: middle;
}

.no {
  background: url(../pic/no.png) no-repeat;
}

.edit {
  background: url(../pic/edit.png) no-repeat;
}

@media screen and (max-width: 1200px) {
  body, input, select, textarea, button, td, a, .topnav a {
    font-size: 9pt !important;
  }
  body {
    padding: 0 4px;
  }
  #torrents td, #torrents td a {
    font-size: 8.5pt !important;
  }
  #sitename a {
    font-size: 34pt !important;
  }
  #searchandshow {
    margin-bottom: -14px;
  }
  .catlink:hover:after {
    min-width: 60px;
  }
  #torrents {
    margin-top: -5px;
  }
  #torrents th {
    padding: 6px 4px !important;
    font-size: 85% !important;
  }
  #torrents td {
    padding: 2px 4px !important;
  }
  #torrents td:first-child::before {
    content: "";
    display: inline-block;
    height: 32px;
    vertical-align: middle;
  }
  #torrents img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 1200px) {
  body, input, select, textarea, button, td, a {
    font-size: 9pt !important;
  }
  body {
    padding: 0 4px 23px !important;
  }
  #topnav a {
    padding-left: 16px;
    padding-right: 16px;
  }
  #torrents td, #torrents td a {
    font-size: 8.5pt !important;
  }
  #sitename a {
    font-size: 40pt !important;
  }
}

@media screen and (min-width: 1800px) {
  body, input, select, textarea, button {
    font-size: 10pt !important;
  }
  #sitename a {
    font-size: 48pt !important;
  }
}